# British Airways Virtual Intern

## 1. Webscraping

In [54]:
import sys

import requests
from bs4 import BeautifulSoup
import re
import unicodedata
import pandas as pd
import numpy as np

In [55]:
url = "https://www.airlinequality.com/airline-reviews/british-airways"

In [82]:
data = []

page_num = 1
page_incr = 1
page_size = 100

max_pages = 20

#url page number to be scraped
paginated_url = f"{url}/page/{page_num}/?sortby=post_date%3ADesc&pagesize={page_size}"

# A while loop to paginate through the webpage and scrape the data
while page_num <= max_pages:

    print(f"Scraping page {page_num}")

    # A GET request to the paginated URL
    response = requests.get(paginated_url)

    # Parsing the response using BeautifulSoup
    parsed_content = BeautifulSoup(response.text, "html.parser")

    # Finding all the elements on the page that contain the data to be scraped
    elements = parsed_content.find_all("div",class_ = "body")

    # Looping through the elements and extract the data that you want to scrape
    for element in elements:
        header = element.find("h2",class_ = "text_header").text.replace("\n", " ")
        sub_header = element.find("h3",class_ = "text_sub_header").text.replace("\n", " ")
        content = element.find("div",class_ = "text_content").text.replace("\n", " ")
        
        data.append([header,sub_header,content])

    # Increasing the page number and setting the paginated URL to the new page
    page_num += page_incr
    paginated_url = f"{url}/page/{page_num}/?sortby=post_date%3ADesc&pagesize={page_size}"

    print(f"   ---> {len(data)} total reviews")

Scraping page 1
   ---> 100 total reviews
Scraping page 2
   ---> 200 total reviews
Scraping page 3
   ---> 300 total reviews
Scraping page 4
   ---> 400 total reviews
Scraping page 5
   ---> 500 total reviews
Scraping page 6
   ---> 600 total reviews
Scraping page 7
   ---> 700 total reviews
Scraping page 8
   ---> 800 total reviews
Scraping page 9
   ---> 900 total reviews
Scraping page 10
   ---> 1000 total reviews
Scraping page 11
   ---> 1100 total reviews
Scraping page 12
   ---> 1200 total reviews
Scraping page 13
   ---> 1300 total reviews
Scraping page 14
   ---> 1400 total reviews
Scraping page 15
   ---> 1500 total reviews
Scraping page 16
   ---> 1600 total reviews
Scraping page 17
   ---> 1700 total reviews
Scraping page 18
   ---> 1800 total reviews
Scraping page 19
   ---> 1900 total reviews
Scraping page 20
   ---> 2000 total reviews

In [84]:
#Coverting the list data into a dataframe
df = pd.DataFrame(data)
df.columns = ["Review","Personal information","Comment"]

#Removing unwanted text(first text preprocessing)
df.replace(re.compile(r'\s*✅ Trip Verified \|\s*'), '', inplace=True)
df

,Review,Personal information,Comment
0,“VERY uncomfortable seats”,M Owen (United States) 19th July 2024,If you can’t fly First Class don’t fly British...
1,"""substandard business class experience""",1 reviews Bryan Fisk (New Zealand) 16th J...,Not Verified | Singapore to Heathrow. Busine...
2,"""Customer Service is shocking""",David Bolland (United Kingdom) 15th July 2024,Not Verified | I reported my damaged/ruined ...
3,"""left me extremely disappointed""",Daniel Chinellato (Germany) 9th July 2024,"Not Verified | On March 1st, I flew from Ber..."
4,“customer service was awful”,Flora Dogneton (United Kingdom) 5th July 2024,Not Verified | The WORST customer experience! ...
...,...,...,...
1995,"""can only be described as appalling""",Julie Smith (United Kingdom) 23rd January 2017,✅ Verified Review | Flew from Gatwick to Tamp...
1996,"""the aircraft was filthy""",D Norman (United Kingdom) 22nd January 2017,✅ Verified Review | Flew British Airways from...
1997,"""horrible food, unmotivated crew""",Y Woodrow (United Kingdom) 22nd January 2017,"✅ Verified Review | London Heathrow to Dubai,..."
1998,"""will never fly with BA again""",1 reviews Niina Ursin (United Kingdom) 21...,✅ Verified Review | Never again! Booked a rou...
1999,"""not fair for the fare""",S Parent (France) 21st January 2017,✅ Verified Review | Not fair for the fare. Fle...

In [86]:
df.to_csv(r"C:\Users\Lenovo\Desktop\YT Data Analysis\BA_reviews.csv")

In [88]:
sentiment_analysis_df = df.drop(["Review","Personal information"], axis=1)
sentiment_analysis_df.replace(re.compile(r'\s*✅ Verified Review \|\s*'), '', inplace=True)
sentiment_analysis_df

                                                Comment
0     If you can’t fly First Class don’t fly British...
1     Not Verified |   Singapore to Heathrow. Busine...
2     Not Verified |   I reported my damaged/ruined ...
3     Not Verified |   On March 1st, I flew from Ber...
4     Not Verified | The WORST customer experience! ...
...                                                 ...
1995  Flew from Gatwick to Tampa Business class on 7...
1996  Flew British Airways from Miami to London Heat...
1997  London Heathrow to Dubai, and a delayed flight...
1998  Never again! Booked a round trip from to Londo...
1999  Not fair for the fare. Flew Bangkok to Paris v...

[2000 rows x 1 columns]

In [90]:
sentiment_analysis_df.to_csv("sentiment_content.csv", index=False)

In [92]:
#Checking for null values in the dataframe
sentiment_analysis_df.isnull().sum()/len(df)*100

Comment    0.0
dtype: float64

In [94]:
df.isnull().sum()/len(df)*100

Review                  0.0
Personal information    0.0
Comment                 0.0
dtype: float64